
@model AdminRegisterViewModel

@{
    ViewData["Title"] = "Create";
}


<div class="content mt-5">
    <h1>Add Admin</h1>
    <div class="col-12">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="FullName">FullName</label>
                <input asp-for="FullName" class="form-control" placeholder="FullName">
                <span class="text-danger" asp-validation-for="FullName"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName">UserName</label>
                <input asp-for="UserName" class="form-control" placeholder="UserName">
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Email">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" placeholder="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Password</label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword">
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>



            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create Admin</button>
            </div>

        </form>
    </div>
</div>
