@section Measurement{
    <script src="~/assets/js/measurement.js"></script>

}



<main id="glassshelve">
    <section id="custom-select">
        <div class="container">
            <div class="column">
                <h3>ŞÜŞƏ RƏFLƏR</h3>
                <br>
                <p>İstədiyiniz bu 4 formadan olan şüşə rəfini seçin</p>
                <br>
                <div class="select-shape col-12">
                    <div class="shape-head col-12">
                        <h5>Kəsim formasını seçin</h5>
                    </div>
                    <div class="shapes col-12">
                        <div class="shapes-item">
                            <h5>Düzbucaq</h5>
                            <br>
                            <img src="~/assets/images/products/rectangle-customize.webp" alt="">
                            <br><br><br>
                            <a href="" class="recbtn">Seçin</a>
                        </div>
                        <div class="measurement d-none" id="recmea">
                            <a asp-action="index" asp-controller="glassshelve" class="redirecturl"><i class="bi bi-arrow-left"></i> GERİYƏ DÖN</a>
                            <br>
                            <div class="mt-contain col-12">
                                <div class="mtimg col-6">
                                    <img src="~/assets/images/products/mea-rec.png" alt="">
                                </div>
                                <div class="mt-right col-6">
                                    <form>
                                        <label><b>Uzunlugu Qeyd Edin:</b></label>
                                        <br /><br />
                                        <input type="number" placeholder="Mesel ucun: 2.5, 22.5 sm" />
                                        <br /><br />
                                        <label><b>Enini Qeyd Edin:</b></label>
                                        <br /><br />
                                        <input type="number" placeholder="Mesel ucun: 2.5, 22.5 sm" />
                                        <br />
                                        <br />
                                        <input type="submit" value="Davam Et" />
                                    </form>

                                </div>
                            </div>

                        </div>
                        <div class="shapes-item">
                            <h5>Üçbucaq</h5>
                            <br>
                            <img src="~/assets/images/products/triangle-customize-2.webp" alt="">
                            <br><br><br>
                            <a href="" class="sqbtn">Seçin</a>
                        </div>
                        <div class="measurement d-none" id="sqmea">
                            <a asp-action="index" asp-controller="glassshelve"><i class="bi bi-arrow-left"></i>  BACK TO SHAPE SELECTION</a>
                            <br>
                            <div class="mt-contain col-12">
                                <div class="mtimg col-6">
                                    <img src="~/assets/images/products/mea-sqr.png" alt="">
                                </div>
                                <div class="mt-right col-6">
                                    <table class="table table-hover">
                                        <thead><tr><th></th><th>Inches</th><th>Fraction of an Inch</th></tr></thead>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3" class="text-center">
                                                    <strong>All measurements are in inches</strong>
                                                    <span class="help-block small">Cutting Tolerance is +/- 1/8"</span>

                                                    <p>
                                                        <input type="submit" class="btn btn-lg btn-block btn-checkout" value="Continue">
                                                    </p>
                                                </td>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Width</th>
                                                <td>
                                                    <select class="form-control" id="sa" name="sa">
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                        <option>7</option>
                                                        <option>8</option>
                                                        <option>9</option>
                                                        <option>10</option>
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>13</option>
                                                        <option>14</option>
                                                        <option>15</option>
                                                        <option>16</option>
                                                        <option>17</option>
                                                        <option>18</option>
                                                        <option>19</option>
                                                        <option>20</option>
                                                        <option>21</option>
                                                        <option>22</option>
                                                        <option>23</option>
                                                        <option>24</option>
                                                        <option>25</option>
                                                        <option>26</option>
                                                        <option>27</option>
                                                        <option>28</option>
                                                        <option>29</option>
                                                        <option>30</option>
                                                        <option>31</option>
                                                        <option>32</option>
                                                        <option>33</option>
                                                        <option>34</option>
                                                        <option>35</option>
                                                        <option>36</option>
                                                        <option>37</option>
                                                        <option>38</option>
                                                        <option>39</option>
                                                        <option>40</option>
                                                        <option>41</option>
                                                        <option>42</option>
                                                        <option>43</option>
                                                        <option>44</option>
                                                        <option>45</option>
                                                        <option>46</option>
                                                        <option>47</option>
                                                        <option>48</option>
                                                        <option>49</option>
                                                        <option>50</option>
                                                        <option>51</option>
                                                        <option>52</option>
                                                        <option>53</option>
                                                        <option>54</option>
                                                        <option>55</option>
                                                        <option>56</option>
                                                        <option>57</option>
                                                        <option>58</option>
                                                        <option>59</option>
                                                        <option>60</option>
                                                        <option>61</option>
                                                        <option>62</option>
                                                        <option>63</option>
                                                        <option>64</option>
                                                        <option>65</option>
                                                        <option>66</option>
                                                        <option>67</option>
                                                        <option>68</option>
                                                        <option>69</option>
                                                        <option>70</option>
                                                        <option>71</option>
                                                        <option>72</option>
                                                        <option>73</option>
                                                        <option>74</option>
                                                        <option>75</option>
                                                        <option>76</option>
                                                        <option>77</option>
                                                        <option>78</option>
                                                        <option>79</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control" id="saf" name="saf">
                                                        <option value="0">0</option>
                                                        <option value="1/16">1/16</option>
                                                        <option value="1/8">1/8</option>
                                                        <option value="3/16">3/16</option>
                                                        <option value="1/4">1/4</option>
                                                        <option value="5/16">5/16</option>
                                                        <option value="3/8">3/8</option>
                                                        <option value="7/16">7/16</option>
                                                        <option value="1/2">1/2</option>
                                                        <option value="9/16">9/16</option>
                                                        <option value="5/8">5/8</option>
                                                        <option value="11/16">11/16</option>
                                                        <option value="3/4">3/4</option>
                                                        <option value="13/16">13/16</option>
                                                        <option value="7/8">7/8</option>
                                                        <option value="15/16">15/16</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Length</th>
                                                <td>
                                                    <select class="form-control" id="sb" name="sb">
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                        <option>7</option>
                                                        <option>8</option>
                                                        <option>9</option>
                                                        <option>10</option>
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>13</option>
                                                        <option>14</option>
                                                        <option>15</option>
                                                        <option>16</option>
                                                        <option>17</option>
                                                        <option>18</option>
                                                        <option>19</option>
                                                        <option>20</option>
                                                        <option>21</option>
                                                        <option>22</option>
                                                        <option>23</option>
                                                        <option>24</option>
                                                        <option>25</option>
                                                        <option>26</option>
                                                        <option>27</option>
                                                        <option>28</option>
                                                        <option>29</option>
                                                        <option>30</option>
                                                        <option>31</option>
                                                        <option>32</option>
                                                        <option>33</option>
                                                        <option>34</option>
                                                        <option>35</option>
                                                        <option>36</option>
                                                        <option>37</option>
                                                        <option>38</option>
                                                        <option>39</option>
                                                        <option>40</option>
                                                        <option>41</option>
                                                        <option>42</option>
                                                        <option>43</option>
                                                        <option>44</option>
                                                        <option>45</option>
                                                        <option>46</option>
                                                        <option>47</option>
                                                        <option>48</option>
                                                        <option>49</option>
                                                        <option>50</option>
                                                        <option>51</option>
                                                        <option>52</option>
                                                        <option>53</option>
                                                        <option>54</option>
                                                        <option>55</option>
                                                        <option>56</option>
                                                        <option>57</option>
                                                        <option>58</option>
                                                        <option>59</option>
                                                        <option>60</option>
                                                        <option>61</option>
                                                        <option>62</option>
                                                        <option>63</option>
                                                        <option>64</option>
                                                        <option>65</option>
                                                        <option>66</option>
                                                        <option>67</option>
                                                        <option>68</option>
                                                        <option>69</option>
                                                        <option>70</option>
                                                        <option>71</option>
                                                        <option>72</option>
                                                        <option>73</option>
                                                        <option>74</option>
                                                        <option>75</option>
                                                        <option>76</option>
                                                        <option>77</option>
                                                        <option>78</option>
                                                        <option>79</option>
                                                        <option>80</option>
                                                        <option>81</option>
                                                        <option>82</option>
                                                        <option>83</option>
                                                        <option>84</option>
                                                        <option>85</option>
                                                        <option>86</option>
                                                        <option>87</option>
                                                        <option>88</option>
                                                        <option>89</option>
                                                        <option>90</option>
                                                        <option>91</option>
                                                        <option>92</option>
                                                        <option>93</option>
                                                        <option>94</option>
                                                        <option>95</option>
                                                        <option>96</option>
                                                        <option>97</option>
                                                        <option>98</option>
                                                        <option>99</option>
                                                        <option>100</option>
                                                        <option>101</option>
                                                        <option>102</option>
                                                        <option>103</option>
                                                        <option>104</option>
                                                        <option>105</option>
                                                        <option>106</option>
                                                        <option>107</option>
                                                        <option>108</option>
                                                        <option>109</option>
                                                        <option>110</option>
                                                        <option>111</option>
                                                        <option>112</option>
                                                        <option>113</option>
                                                        <option>114</option>
                                                        <option>115</option>
                                                        <option>116</option>
                                                        <option>117</option>
                                                        <option>118</option>
                                                        <option>119</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control" id="sbf" name="sbf">
                                                        <option value="0">0</option>
                                                        <option value="1/16">1/16</option>
                                                        <option value="1/8">1/8</option>
                                                        <option value="3/16">3/16</option>
                                                        <option value="1/4">1/4</option>
                                                        <option value="5/16">5/16</option>
                                                        <option value="3/8">3/8</option>
                                                        <option value="7/16">7/16</option>
                                                        <option value="1/2">1/2</option>
                                                        <option value="9/16">9/16</option>
                                                        <option value="5/8">5/8</option>
                                                        <option value="11/16">11/16</option>
                                                        <option value="3/4">3/4</option>
                                                        <option value="13/16">13/16</option>
                                                        <option value="7/8">7/8</option>
                                                        <option value="15/16">15/16</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="shapes-item">
                            <h5>Beşkünc</h5>
                            <br>
                            <img src="~/assets/images/products/pentagon-customize.webp" alt="">
                            <br><br><br>
                            <a href="" class="roundbtn">Seçin</a>
                        </div>
                        <div class="measurement d-none" id="roundmea">
                            <a asp-action="index" asp-controller="glassshelve"><i class="bi bi-arrow-left"></i>BACK TO SHAPE SELECTION</a>
                            <br>
                            <div class="mt-contain col-12">
                                <div class="mtimg col-6">
                                    <img src="~/assets/images/products/mea-sqr.png" alt="">
                                </div>
                                <div class="mt-right col-6">
                                    <table class="table table-hover">
                                        <thead><tr><th></th><th>Inches</th><th>Fraction of an Inch</th></tr></thead>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3" class="text-center">
                                                    <strong>All measurements are in inches</strong>
                                                    <span class="help-block small">Cutting Tolerance is +/- 1/8"</span>

                                                    <p>
                                                        <input type="submit" class="btn btn-lg btn-block btn-checkout" value="Continue">
                                                    </p>
                                                </td>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Width</th>
                                                <td>
                                                    <select class="form-control" id="sa" name="sa">
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                        <option>7</option>
                                                        <option>8</option>
                                                        <option>9</option>
                                                        <option>10</option>
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>13</option>
                                                        <option>14</option>
                                                        <option>15</option>
                                                        <option>16</option>
                                                        <option>17</option>
                                                        <option>18</option>
                                                        <option>19</option>
                                                        <option>20</option>
                                                        <option>21</option>
                                                        <option>22</option>
                                                        <option>23</option>
                                                        <option>24</option>
                                                        <option>25</option>
                                                        <option>26</option>
                                                        <option>27</option>
                                                        <option>28</option>
                                                        <option>29</option>
                                                        <option>30</option>
                                                        <option>31</option>
                                                        <option>32</option>
                                                        <option>33</option>
                                                        <option>34</option>
                                                        <option>35</option>
                                                        <option>36</option>
                                                        <option>37</option>
                                                        <option>38</option>
                                                        <option>39</option>
                                                        <option>40</option>
                                                        <option>41</option>
                                                        <option>42</option>
                                                        <option>43</option>
                                                        <option>44</option>
                                                        <option>45</option>
                                                        <option>46</option>
                                                        <option>47</option>
                                                        <option>48</option>
                                                        <option>49</option>
                                                        <option>50</option>
                                                        <option>51</option>
                                                        <option>52</option>
                                                        <option>53</option>
                                                        <option>54</option>
                                                        <option>55</option>
                                                        <option>56</option>
                                                        <option>57</option>
                                                        <option>58</option>
                                                        <option>59</option>
                                                        <option>60</option>
                                                        <option>61</option>
                                                        <option>62</option>
                                                        <option>63</option>
                                                        <option>64</option>
                                                        <option>65</option>
                                                        <option>66</option>
                                                        <option>67</option>
                                                        <option>68</option>
                                                        <option>69</option>
                                                        <option>70</option>
                                                        <option>71</option>
                                                        <option>72</option>
                                                        <option>73</option>
                                                        <option>74</option>
                                                        <option>75</option>
                                                        <option>76</option>
                                                        <option>77</option>
                                                        <option>78</option>
                                                        <option>79</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control" id="saf" name="saf">
                                                        <option value="0">0</option>
                                                        <option value="1/16">1/16</option>
                                                        <option value="1/8">1/8</option>
                                                        <option value="3/16">3/16</option>
                                                        <option value="1/4">1/4</option>
                                                        <option value="5/16">5/16</option>
                                                        <option value="3/8">3/8</option>
                                                        <option value="7/16">7/16</option>
                                                        <option value="1/2">1/2</option>
                                                        <option value="9/16">9/16</option>
                                                        <option value="5/8">5/8</option>
                                                        <option value="11/16">11/16</option>
                                                        <option value="3/4">3/4</option>
                                                        <option value="13/16">13/16</option>
                                                        <option value="7/8">7/8</option>
                                                        <option value="15/16">15/16</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Length</th>
                                                <td>
                                                    <select class="form-control" id="sb" name="sb">
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                        <option>7</option>
                                                        <option>8</option>
                                                        <option>9</option>
                                                        <option>10</option>
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>13</option>
                                                        <option>14</option>
                                                        <option>15</option>
                                                        <option>16</option>
                                                        <option>17</option>
                                                        <option>18</option>
                                                        <option>19</option>
                                                        <option>20</option>
                                                        <option>21</option>
                                                        <option>22</option>
                                                        <option>23</option>
                                                        <option>24</option>
                                                        <option>25</option>
                                                        <option>26</option>
                                                        <option>27</option>
                                                        <option>28</option>
                                                        <option>29</option>
                                                        <option>30</option>
                                                        <option>31</option>
                                                        <option>32</option>
                                                        <option>33</option>
                                                        <option>34</option>
                                                        <option>35</option>
                                                        <option>36</option>
                                                        <option>37</option>
                                                        <option>38</option>
                                                        <option>39</option>
                                                        <option>40</option>
                                                        <option>41</option>
                                                        <option>42</option>
                                                        <option>43</option>
                                                        <option>44</option>
                                                        <option>45</option>
                                                        <option>46</option>
                                                        <option>47</option>
                                                        <option>48</option>
                                                        <option>49</option>
                                                        <option>50</option>
                                                        <option>51</option>
                                                        <option>52</option>
                                                        <option>53</option>
                                                        <option>54</option>
                                                        <option>55</option>
                                                        <option>56</option>
                                                        <option>57</option>
                                                        <option>58</option>
                                                        <option>59</option>
                                                        <option>60</option>
                                                        <option>61</option>
                                                        <option>62</option>
                                                        <option>63</option>
                                                        <option>64</option>
                                                        <option>65</option>
                                                        <option>66</option>
                                                        <option>67</option>
                                                        <option>68</option>
                                                        <option>69</option>
                                                        <option>70</option>
                                                        <option>71</option>
                                                        <option>72</option>
                                                        <option>73</option>
                                                        <option>74</option>
                                                        <option>75</option>
                                                        <option>76</option>
                                                        <option>77</option>
                                                        <option>78</option>
                                                        <option>79</option>
                                                        <option>80</option>
                                                        <option>81</option>
                                                        <option>82</option>
                                                        <option>83</option>
                                                        <option>84</option>
                                                        <option>85</option>
                                                        <option>86</option>
                                                        <option>87</option>
                                                        <option>88</option>
                                                        <option>89</option>
                                                        <option>90</option>
                                                        <option>91</option>
                                                        <option>92</option>
                                                        <option>93</option>
                                                        <option>94</option>
                                                        <option>95</option>
                                                        <option>96</option>
                                                        <option>97</option>
                                                        <option>98</option>
                                                        <option>99</option>
                                                        <option>100</option>
                                                        <option>101</option>
                                                        <option>102</option>
                                                        <option>103</option>
                                                        <option>104</option>
                                                        <option>105</option>
                                                        <option>106</option>
                                                        <option>107</option>
                                                        <option>108</option>
                                                        <option>109</option>
                                                        <option>110</option>
                                                        <option>111</option>
                                                        <option>112</option>
                                                        <option>113</option>
                                                        <option>114</option>
                                                        <option>115</option>
                                                        <option>116</option>
                                                        <option>117</option>
                                                        <option>118</option>
                                                        <option>119</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control" id="sbf" name="sbf">
                                                        <option value="0">0</option>
                                                        <option value="1/16">1/16</option>
                                                        <option value="1/8">1/8</option>
                                                        <option value="3/16">3/16</option>
                                                        <option value="1/4">1/4</option>
                                                        <option value="5/16">5/16</option>
                                                        <option value="3/8">3/8</option>
                                                        <option value="7/16">7/16</option>
                                                        <option value="1/2">1/2</option>
                                                        <option value="9/16">9/16</option>
                                                        <option value="5/8">5/8</option>
                                                        <option value="11/16">11/16</option>
                                                        <option value="3/4">3/4</option>
                                                        <option value="13/16">13/16</option>
                                                        <option value="7/8">7/8</option>
                                                        <option value="15/16">15/16</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="shapes-item">
                            <h5>Dörddəbir dairə</h5>
                            <br>
                            <img src="~/assets/images/products/quarter-circle-customize.webp" alt="">
                            <br><br><br>
                            <a href="" class="ovalbtn">Seçin</a>
                        </div>
                        <div class="measurement d-none" id="ovalmea">
                            <a asp-action="index" asp-controller="glassshelve"><i class="bi bi-arrow-left"></i>BACK TO SHAPE SELECTION</a>
                            <br>
                            <div class="mt-contain col-12">
                                <div class="mtimg col-6">
                                    <img src="~/assets/images/products/mea-sqr.png" alt="">
                                </div>
                                <div class="mt-right col-6">
                                    <table class="table table-hover">
                                        <thead><tr><th></th><th>Inches</th><th>Fraction of an Inch</th></tr></thead>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3" class="text-center">
                                                    <strong>All measurements are in inches</strong>
                                                    <span class="help-block small">Cutting Tolerance is +/- 1/8"</span>

                                                    <p>
                                                        <input type="submit" class="btn btn-lg btn-block btn-checkout" value="Continue">
                                                    </p>
                                                </td>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Width</th>
                                                <td>
                                                    <select class="form-control" id="sa" name="sa">
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                        <option>7</option>
                                                        <option>8</option>
                                                        <option>9</option>
                                                        <option>10</option>
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>13</option>
                                                        <option>14</option>
                                                        <option>15</option>
                                                        <option>16</option>
                                                        <option>17</option>
                                                        <option>18</option>
                                                        <option>19</option>
                                                        <option>20</option>
                                                        <option>21</option>
                                                        <option>22</option>
                                                        <option>23</option>
                                                        <option>24</option>
                                                        <option>25</option>
                                                        <option>26</option>
                                                        <option>27</option>
                                                        <option>28</option>
                                                        <option>29</option>
                                                        <option>30</option>
                                                        <option>31</option>
                                                        <option>32</option>
                                                        <option>33</option>
                                                        <option>34</option>
                                                        <option>35</option>
                                                        <option>36</option>
                                                        <option>37</option>
                                                        <option>38</option>
                                                        <option>39</option>
                                                        <option>40</option>
                                                        <option>41</option>
                                                        <option>42</option>
                                                        <option>43</option>
                                                        <option>44</option>
                                                        <option>45</option>
                                                        <option>46</option>
                                                        <option>47</option>
                                                        <option>48</option>
                                                        <option>49</option>
                                                        <option>50</option>
                                                        <option>51</option>
                                                        <option>52</option>
                                                        <option>53</option>
                                                        <option>54</option>
                                                        <option>55</option>
                                                        <option>56</option>
                                                        <option>57</option>
                                                        <option>58</option>
                                                        <option>59</option>
                                                        <option>60</option>
                                                        <option>61</option>
                                                        <option>62</option>
                                                        <option>63</option>
                                                        <option>64</option>
                                                        <option>65</option>
                                                        <option>66</option>
                                                        <option>67</option>
                                                        <option>68</option>
                                                        <option>69</option>
                                                        <option>70</option>
                                                        <option>71</option>
                                                        <option>72</option>
                                                        <option>73</option>
                                                        <option>74</option>
                                                        <option>75</option>
                                                        <option>76</option>
                                                        <option>77</option>
                                                        <option>78</option>
                                                        <option>79</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control" id="saf" name="saf">
                                                        <option value="0">0</option>
                                                        <option value="1/16">1/16</option>
                                                        <option value="1/8">1/8</option>
                                                        <option value="3/16">3/16</option>
                                                        <option value="1/4">1/4</option>
                                                        <option value="5/16">5/16</option>
                                                        <option value="3/8">3/8</option>
                                                        <option value="7/16">7/16</option>
                                                        <option value="1/2">1/2</option>
                                                        <option value="9/16">9/16</option>
                                                        <option value="5/8">5/8</option>
                                                        <option value="11/16">11/16</option>
                                                        <option value="3/4">3/4</option>
                                                        <option value="13/16">13/16</option>
                                                        <option value="7/8">7/8</option>
                                                        <option value="15/16">15/16</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Length</th>
                                                <td>
                                                    <select class="form-control" id="sb" name="sb">
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                        <option>7</option>
                                                        <option>8</option>
                                                        <option>9</option>
                                                        <option>10</option>
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>13</option>
                                                        <option>14</option>
                                                        <option>15</option>
                                                        <option>16</option>
                                                        <option>17</option>
                                                        <option>18</option>
                                                        <option>19</option>
                                                        <option>20</option>
                                                        <option>21</option>
                                                        <option>22</option>
                                                        <option>23</option>
                                                        <option>24</option>
                                                        <option>25</option>
                                                        <option>26</option>
                                                        <option>27</option>
                                                        <option>28</option>
                                                        <option>29</option>
                                                        <option>30</option>
                                                        <option>31</option>
                                                        <option>32</option>
                                                        <option>33</option>
                                                        <option>34</option>
                                                        <option>35</option>
                                                        <option>36</option>
                                                        <option>37</option>
                                                        <option>38</option>
                                                        <option>39</option>
                                                        <option>40</option>
                                                        <option>41</option>
                                                        <option>42</option>
                                                        <option>43</option>
                                                        <option>44</option>
                                                        <option>45</option>
                                                        <option>46</option>
                                                        <option>47</option>
                                                        <option>48</option>
                                                        <option>49</option>
                                                        <option>50</option>
                                                        <option>51</option>
                                                        <option>52</option>
                                                        <option>53</option>
                                                        <option>54</option>
                                                        <option>55</option>
                                                        <option>56</option>
                                                        <option>57</option>
                                                        <option>58</option>
                                                        <option>59</option>
                                                        <option>60</option>
                                                        <option>61</option>
                                                        <option>62</option>
                                                        <option>63</option>
                                                        <option>64</option>
                                                        <option>65</option>
                                                        <option>66</option>
                                                        <option>67</option>
                                                        <option>68</option>
                                                        <option>69</option>
                                                        <option>70</option>
                                                        <option>71</option>
                                                        <option>72</option>
                                                        <option>73</option>
                                                        <option>74</option>
                                                        <option>75</option>
                                                        <option>76</option>
                                                        <option>77</option>
                                                        <option>78</option>
                                                        <option>79</option>
                                                        <option>80</option>
                                                        <option>81</option>
                                                        <option>82</option>
                                                        <option>83</option>
                                                        <option>84</option>
                                                        <option>85</option>
                                                        <option>86</option>
                                                        <option>87</option>
                                                        <option>88</option>
                                                        <option>89</option>
                                                        <option>90</option>
                                                        <option>91</option>
                                                        <option>92</option>
                                                        <option>93</option>
                                                        <option>94</option>
                                                        <option>95</option>
                                                        <option>96</option>
                                                        <option>97</option>
                                                        <option>98</option>
                                                        <option>99</option>
                                                        <option>100</option>
                                                        <option>101</option>
                                                        <option>102</option>
                                                        <option>103</option>
                                                        <option>104</option>
                                                        <option>105</option>
                                                        <option>106</option>
                                                        <option>107</option>
                                                        <option>108</option>
                                                        <option>109</option>
                                                        <option>110</option>
                                                        <option>111</option>
                                                        <option>112</option>
                                                        <option>113</option>
                                                        <option>114</option>
                                                        <option>115</option>
                                                        <option>116</option>
                                                        <option>117</option>
                                                        <option>118</option>
                                                        <option>119</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control" id="sbf" name="sbf">
                                                        <option value="0">0</option>
                                                        <option value="1/16">1/16</option>
                                                        <option value="1/8">1/8</option>
                                                        <option value="3/16">3/16</option>
                                                        <option value="1/4">1/4</option>
                                                        <option value="5/16">5/16</option>
                                                        <option value="3/8">3/8</option>
                                                        <option value="7/16">7/16</option>
                                                        <option value="1/2">1/2</option>
                                                        <option value="9/16">9/16</option>
                                                        <option value="5/8">5/8</option>
                                                        <option value="11/16">11/16</option>
                                                        <option value="3/4">3/4</option>
                                                        <option value="13/16">13/16</option>
                                                        <option value="7/8">7/8</option>
                                                        <option value="15/16">15/16</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <a href="">Toplu sifariş üçün bura klikləyin</a>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="about-left col-4">
                    <img src="~/assets/images/products/01shelf.webp" alt="">
                </div>
                <div class="about-right col-8">
                    <h4>Bizim Şüşə Rəfləri Haqqında</h4>
                    <br>
                    <p>Şüşə rəflər, bankı pozmadan məkanınıza yüksək dizayn əlavə etmək üçün əla bir yoldur. Xüsusi şüşə rəflərin tam seçimi və anbarda olan şüşə və rəf dəsti seçimlərimiz var. Şüşə rəflərimiz haqqında bilməli olduğunuz bəzi şeylər bunlardır.</p>
                    <br>
                    <ul>
                        <li>
                            <p>Xüsusi şüşə rəflər düzbucaqlı və ya kvadrat formalarda mövcuddur və siz rəf mötərizələrini ayrıca sifariş etməlisiniz. Rəflərinizdə şüşənin qalınlığını, şüşənin rəngini və ya kənar bitirmə növünü təyin etmək lazım olduqda, xüsusi şüşə rəf seçin.</p>
                        </li>
                        <li>
                            <p>Künc şüşə rəflərimiz stokda olan ölçülərdə mövcuddur və siz avadanlığı ayrıca satın almalı olacaqsınız.</p>
                        </li>
                        <li>
                            <p>Bizim ehtiyatda olan şüşə rəflərimizin əksəriyyəti əvvəlcədən hazırlanmış ölçülərdədir və lazımi şüşə rəf aparatlarını ehtiva edir.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="where-use">
        <div class="container">
            <div class="row">
                <div class="where-use-right col-8">
                    <h4>Şüşə Rəfləri Harada İstifadə Etmək Olar</h4>
                    <br>
                    <p>Xüsusi və əvvəlcədən hazırlanmış şüşə rəflərimiz evinizin və ya iş yerinizin müxtəlif yerlərində istifadə edilə bilər. Onlar digər rəflər kimi möhkəmdirlər və kifayət qədər çəki saxlaya bilirlər. Divara quraşdırılmış şüşə rəf işığı artıran, sadələşdirilmiş görünüş üçün lazımi miqdarda müasir sinif əlavə edə bilər. Burada şüşə rəflərdən istifadə edə biləcəyiniz bəzi yerlər var.</p>
                    <br>
                    <ul>
                        <li>
                            <p>Vanna otaqları - bizim xüsusi rəflərimiz və rəf dəstlərimiz vanna otağı kimi rütubətli mühitdə, hətta duşda belə istifadə üçün təhlükəsizdir!</p>
                        </li>
                        <li>
                            <p>Mətbəxlər - sınıq şkaf rəfini əvəz etmək və ya cəlbedici saxlama yeri əlavə etmək üçün şüşə rəflərdən istifadə edin.</p>
                        </li>
                        <li>
                            <p>Ev dekorasiyası - oturma otağında, yataq otağında, şkafda və ya yeməkxanada şüşə rəflərdən istifadə edin.</p>
                        </li>
                        <li>
                            <p>Ofislər - xüsusi şüşə rəflər, istər evinizdə, istərsə də biznesinizdə müasir iş sahəsi yarada bilər.</p>
                        </li>
                        <li>
                            <p>Restoranlar və Barlar - Xüsusi şüşə rəflər biznesiniz, xüsusən də bar və restoranlar üçün əla seçimdir. Təmiz saxlamaq asandır və ağır istifadə üçün kifayət qədər davamlıdırlar.</p>
                        </li>
                    </ul>
                </div>
                <div class="where-use-left col-4">
                    <img src="~/assets/images/products/02shelf.webp" alt="">
                </div>
            </div>
        </div>
    </section>

    <section id="how-use">
        <div class="container">
            <h3>Şüşə rəfləri necə sifariş etmək olar</h3>
            <br>
            <p>Məkanınız üçün düzgün şüşə rəf aldığınızdan əmin olun! Hər hansı bir sualınız varsa, kömək etmək üçün buradayıq. Şüşə rəflər sifariş etmək üçün addımlar bunlardır:</p>
            <br>
            <ol>
                <li>
                    <p>Rəflərinizi asmaq istədiyiniz sahəni ölçün.</p>
                </li>
                <li>
                    <p>Nə qədər mötərizə lazım olacağını hesablayın. Çəki Yükü kalkulyatoru seçdiyiniz şüşənin qalınlığına əsasən mötərizələrinizi bir-birindən nə qədər məsafədə yerləşdirmək istəyə biləcəyiniz haqqında bəzi məlumatları ehtiva edir.</p>
                </li>
            </ol>
            <br>
            <p>Unutmayın ki, şüşə rəfləriniz üçün heç bir xüsusi tələbiniz yoxdursa, siz həmişə bir şüşə rəf dəsti sifariş edə bilərsiniz.</p>
        </div>
    </section>

    <section id="brackets">
        <div class="container">
            <div class="row">
                <div class="brackets-left col-8">
                    <h3>Şüşə Rəf Tutacaqları</h3>
                    <br>
                    <p>Fərdi şüşə rəf sifariş edirsinizsə, rəf mötərizələrini ayrıca sifariş etməlisiniz. Bilməli olduğunuz şey budur:</p>
                    <br>
                    <ul>
                        <li>
                            <p>Mötərizələrimiz davamlı, yüksək keyfiyyətli paslanmayan poladdan hazırlanır.</p>
                        </li>
                        <li>
                            <p>Hər bir paket iki mötərizə, iki drywall anker və iki vint ilə gəlir.</p>
                        </li>
                        <li>
                            <p>Mötərizələr fırçalanmış nikel, xrom, mis, qara, atlaz xrom, ağ və yağlı bürünc rənglərdə mövcuddur. Bütün üslublar bütün rənglərdə mövcud deyil.</p>
                        </li>
                        <li>
                            <p>Mötərizələr divardan 10” (çıxıntı) qədər ⅛” ilə 15/16” qalınlığında şüşə rəflərlə işləmək üçün nəzərdə tutulub.</p>
                        </li>
                    </ul>
                </div>
                <div class="brackets-right col-4">
                    <img src="~/assets/images/products/03shelf.webp" alt="">
                </div>
            </div>
        </div>
    </section>

    <section id="installation">
        <div class="container">
            <div class="row">
                <div class="inst-left col-4">
                    <img src="~/assets/images/products/04shelf.webp" alt="">
                </div>
                <div class="inst-right col-8">
                    <h3>Şüşə rəflərin quraşdırılması</h3>
                    <br>
                    <p>Şüşə rəflərin quraşdırılması ümumiyyətlə öz əlinizlə asan bir işdir. Burada yadda saxlamaq lazım olan bəzi şeylər var:</p>
                    <br>
                    <ul>
                        <li>
                            <p>Drywall qurğularında maksimum möhkəmlik üçün mötərizələr bir-birindən 16 düymdən çox olmayan bir dirəyə bağlanmalıdır.</p>
                        </li>
                        <li>
                            <p>Beton qurğularda keyfiyyətli ankerlər tövsiyə olunur.</p>
                        </li>
                        <li>
                            <p>Mötərizənin birbaşa arxasındakı material mötərizənin işinə təsir göstərə bilər. Beton, kafel və ya mərmər kimi sərt materiallar əyilmə və ya çökmə meylinə malik deyil, buna görə də yaxşı olmalıdır.</p>
                        </li>
                        <li>
                            <p>Drywall sıxışdıra və ya əyilə və rəfin ön kənarının aşağı əyilməsinə icazə verə bilər, əgər rəf dirəklər üzərində quraşdırılmayıbsa. Buna görə də, şelfin dərinliyini və üzərinə qoyulan ağırlığın miqdarını başa düşmək vacibdir.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="blog">
        <div class="container">
            <h2>BLOG</h2>
            <div class="column">
                <div class="blog-head col-12">
                    <div class="blog-head-item col-5">
                        <img src="~/assets/images/blog/glass-ideas-for-home-and-office.png" alt="">
                        <br><br>
                        <a href="">Ev və biznes üçün ofis şüşələri ideyaları</a>
                        <br><br>
                        <p>
                            Ofisinizin görünüşünü yaxşılaşdırmağın yollarını axtarırsınız? Dulles Glass-dan üstün fərdiləşdirilə bilən şüşə və güzgülərimizlə sizə lazım olanı tam olaraq əldə edirik! Dizaynerlərimizin ən son ideyaları üçün bizi izləyin və iş yerinizi yeniləmək üçün ilham alın.
                        </p>
                    </div>
                    <div class="blog-head-item col-5">
                        <img src="~/assets/images/blog/foam-mirror-diy.png" alt="">
                        <br><br>
                        <a href="">Yay tendensiyası - köpük güzgülər</a>
                        <br><br>
                        <p>
                            Bu tez və asan DIY köpük güzgü layihəsi ilə ev dekorunuzu gözəlləşdirin. Cəmi bir neçə materialla, evinizdə valehedici amil yaradacaq bulud kimi bir güzgü, köpük strafor bəzək yaradın..
                        </p>
                    </div>
                </div>
                <div class="blog-body col-12">
                    <div class="blog-body-item col-4">
                        <i class="bi bi-sliders"></i>
                        <br>
                        <h4>FƏRQLİ KƏSİM</h4>
                        <br>
                        <span></span>
                        <br>
                        <p>Fərqli kəsim sayəsində verilən kəsim növlərindən seçin.</p>
                    </div>
                    <div class="blog-body-item col-4">
                        <i class="bi bi-currency-dollar"></i>
                        <br>
                        <h4>PULSUZ ÇATDIRILMA</h4>
                        <br>
                        <span></span>
                        <br>
                        <p>Bakı şəhərinin hər bir yerinə pulsuz çatdırılma</p>
                    </div>
                    <div class="blog-body-item col-4">
                        <i class="bi bi-truck"></i>
                        <br>
                        <h4>SIĞORTALI ÇATDIRILMA</h4>
                        <br>
                        <span></span>
                        <br>
                        <p>Bütün məhsullar qırılmadan və 100% təmiz çatdırılma</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>