
<main id="glaccess">
    <section id="glacchead">
        <div class="container">
            <div class="column">
                <h2>Accessories</h2>
                <br>
                <p>
                    One of the easiest ways to bond glass to glass, glass to mirror, and glass to metal, is with
                    Nano470's line of glass bonding adhesives. Perfect for both home and office use, Nano470 comes
                    in two varieties: Nano470 Construction Glass Glue for heavy duty load-bearing applications, and
                    Nano470 Decorative Glass Glue for all of your decorative, invisible curing glass bonding needs.
                </p>
                <br>

            </div>
        </div>
    </section>
    <section id="glaccsort">
        <div class="container">
            <div class="access-toolbar">
                <span>Sort By: </span>
                <br><br>
                <select class="form-control nice-select sort-select ">
                    <option value="" selected="selected">Default Sorting</option>
                    <option value="">
                        Sort
                        By:Name (A - Z)
                    </option>
                    <option value="">
                        Sort
                        By:Name (Z - A)
                    </option>
                    <option value="">
                        Sort
                        By:Price (Low &gt; High)
                    </option>
                    <option value="">
                        Sort
                        By:Price (High &gt; Low)
                    </option>
                    <option value="">
                        Sort
                        By:Rating (Highest)
                    </option>
                    <option value="">
                        Sort
                        By:Rating (Lowest)
                    </option>
                    <option value="">
                        Sort
                        By:Model (A - Z)
                    </option>
                    <option value="">
                        Sort
                        By:Model (Z - A)
                    </option>
                </select>
            </div>
        </div>
    </section>
    <section id="glaccbody">
        <div class="container">
            <div class="row">
                <div class="acc-item ">
                    <img src="~/assets/images/accessories/20gconst.png" alt="">
                    <br>
                    <p><a href="">Nano470 Construction Glass Glue (20 G)</a></p>
                    <small>Ships in 1-3 business days.</small>
                    <br><br>
                    <div class="acc-item-price">
                        <p>Price: 120$</p>
                        <p>Discount Price:</p>
                    </div>
                    <br>
                    <a href="" class="acc-item-btn">ADD TO CARD</a>
                </div>
                <div class="acc-item ">
                    <img src="~/assets/images/accessories/20gconst.png" alt="">
                    <br>
                    <p><a href="">Nano470 Construction Glass Glue (20 G)</a></p>
                    <small>Ships in 1-3 business days.</small>
                    <br><br>
                    <div class="acc-item-price">
                        <p>Price: 120$</p>
                        <p>Discount Price:</p>
                    </div>
                    <br>
                    <a href="" class="acc-item-btn">ADD TO CARD</a>
                </div>
                <div class="acc-item ">
                    <img src="~/assets/images/accessories/20gconst.png" alt="">
                    <br>
                    <p><a href="">Nano470 Construction Glass Glue (20 G)</a></p>
                    <small>Ships in 1-3 business days.</small>
                    <br><br>
                    <div class="acc-item-price">
                        <p>Price: 120$</p>
                        <p>Discount Price:</p>
                    </div>
                    <br>
                    <a href="" class="acc-item-btn">ADD TO CARD</a>
                </div>
                <div class="acc-item ">
                    <img src="~/assets/images/accessories/20gconst.png" alt="">
                    <br>
                    <p><a href="">Nano470 Construction Glass Glue (20 G)</a></p>
                    <small>Ships in 1-3 business days.</small>
                    <br><br>
                    <div class="acc-item-price">
                        <p>Price: 120$</p>
                        <p>Discount Price:</p>
                    </div>
                    <br>
                    <a href="" class="acc-item-btn">ADD TO CARD</a>
                </div>
                <div class="acc-item ">
                    <img src="~/assets/images/accessories/20gconst.png" alt="">
                    <br>
                    <p><a href="">Nano470 Construction Glass Glue (20 G)</a></p>
                    <small>Ships in 1-3 business days.</small>
                    <br><br>
                    <div class="acc-item-price">
                        <p>Price: 120$</p>
                        <p>Discount Price:</p>
                    </div>
                    <br>
                    <a href="" class="acc-item-btn">ADD TO CARD</a>
                </div>
                <div class="acc-item ">
                    <img src="~/assets/images/accessories/20gconst.png" alt="">
                    <br>
                    <p><a href="">Nano470 Construction Glass Glue (20 G)</a></p>
                    <small>Ships in 1-3 business days.</small>
                    <br><br>
                    <div class="acc-item-price">
                        <p>Price: 120$</p>
                        <p>Discount Price:</p>
                    </div>
                    <br>
                    <a href="" class="acc-item-btn">ADD TO CARD</a>
                </div>
                <div class="acc-item ">
                    <img src="~/assets/images/accessories/20gconst.png" alt="">
                    <br>
                    <p><a href="">Nano470 Construction Glass Glue (20 G)</a></p>
                    <small>Ships in 1-3 business days.</small>
                    <br><br>
                    <div class="acc-item-price">
                        <p>Price: 120$</p>
                        <p>Discount Price:</p>
                    </div>
                    <br>
                    <a href="" class="acc-item-btn">ADD TO CARD</a>
                </div>
                <div class="acc-item ">
                    <img src="~/assets/images/accessories/20gconst.png" alt="">
                    <br>
                    <p><a href="">Nano470 Construction Glass Glue (20 G)</a></p>
                    <small>Ships in 1-3 business days.</small>
                    <br><br>
                    <div class="acc-item-price">
                        <p>Price: 120$</p>
                        <p>Discount Price:</p>
                    </div>
                    <br>
                    <a href="" class="acc-item-btn">ADD TO CARD</a>
                </div>
            </div>
        </div>
    </section>
</main>
