@model ContactViewModel

<main id="contact">
    <section id="con-head">
        <div class="container">
            <h2>
               AS Güzgü və Şüşə ilə Əlaqə saxlayın
            </h2>
            <br>
            <p>
                Dulles Glass & Mirror offers a Virginia Glass Showroom and a Maryland Glass Showroom for your
                convenience. You are always welcome to stop by either showroom to see the latest designs,
                innovations and styles available in today's glass, glass shower doors and mirrors.
            </p>
            <br>
            <p>Digər suallar üçün zəng edin</p>
            <br>
            <ul>
                <li>
                    <p><b>Əlaqə nömrəsi: </b> @Model.Setting.SupportPhone</p>
                </li>
                <li>
                    <p><b>Fax: </b> 012 567 11 02</p>
                </li>
                <li>
                    <p><b>Email ünvanı: </b>@Model.Setting.Email</p>
                </li>
            </ul>
        </div>
    </section>

    <section id="con-body">
        <div class="container">
            <div class="row">
                <div class="con-form col-6">
                    <h5>AS Glass Güzgü və Şüşə Servisinə Email göndərin</h5>
                    <hr>
                    <small>Sualınız var? Güzgü və şüşə ekspertindən soruşun!</small>
                    <br><br>
                        <form action="">
                            <label for="">Email Ünvanı<i class="bi bi-asterisk"></i></label>
                            <br>
                            <input type="text" placeholder="Email adresini daxil edin">
                            <br><br>
                            <label for="">Ad<i class="bi bi-asterisk"></i></label>
                            <br>
                            <input type="text" placeholder="Adinizi daxil edin">
                            <br><br>
                            <label for="">Mobil nömrə<i class="bi bi-asterisk"></i></label>
                            <br>
                            <input type="number" placeholder="Telefon nomrenizi daxil edin">
                            <br><br>
                            <label for="">Məktub yaz <i class="bi bi-asterisk"></i></label>
                            <br>
                            <textarea name="" id="" cols="30" rows="10" placeholder="Mesajinizi daxil edin"></textarea>
                            <br><br>
                            <div class="form-check row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Xüsusi endirimlər və yeni məhsul haqqında məlumat əldə etmək üçün məni qeydiyyatdan keçirin.
                                </label>
                            </div>
                            <br><br>
                            <p>
                                E-poçt ünvanınızı və ya digər məlumatlarınızı üçüncü tərəflərlə <b>paylaşmayacağıq.</b>
                                <a href="">Qanun və Qaydanı</a> oxuyun.
                            </p>
                            <br>
                            <input type="submit" value="GÖNDƏR" class="text-white">
                        </form>
                </div>
                <div class="con-address col-6">
                    <h5>Ofisimiz</h5>
                    <hr>
                    <p><b>Phone: </b>050 593 40 40</p>
                    <p>Mühasibat uçotu ilə bağlı bütün sorğularınızı aşağıdakı ünvana göndərin.</p>
                    <br>
                    <b>Mağazanın ünvanı:</b>
                    <br>
                    <p>
                        @Model.Setting.Address  
                    </p>
                    <br>
                    <h5>Emalatxana:</h5>
                    <p><b>Phone: </b>050 593 40 40</p>
                    <b>Emalatxananın ünvanı:</b>
                    <br>
                    <p>
                       Bakı şəhəri, Biləcəri qəsəbəsi
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>