

<main id="contact">
    <section id="con-head">
        <div class="container">
            <h2>
                Contact AS Glass and Mirror
            </h2>
            <br>
            <p>
                Dulles Glass & Mirror offers a Virginia Glass Showroom and a Maryland Glass Showroom for your
                convenience. You are always welcome to stop by either showroom to see the latest designs,
                innovations and styles available in today's glass, glass shower doors and mirrors.
            </p>
            <br>
            <p>For common questions, visit our Customer Service page</p>
            <br>
            <ul>
                <li>
                    <p><b>Toll Free Line: </b> 050 593 40 40</p>
                </li>
                <li>
                    <p><b>Fax: </b> 012 567 11 02</p>
                </li>
                <li>
                    <p><b>Email: </b>ganjali.imanov@gmail.com</p>
                </li>
            </ul>
        </div>
    </section>

    <section id="con-body">
        <div class="container">
            <div class="row">
                <div class="con-form col-6">
                    <h5>Email AS Glass and Mirror Customer Service</h5>
                    <hr>
                    <small>Have questions? Ask a glass & mirror expert!</small>
                    <br><br>
                    <form action="">
                        <label for="">Email Address <i class="bi bi-asterisk"></i></label>
                        <br>
                        <input type="text" placeholder="Email adresini daxil edin">
                        <br><br>
                        <label for="">Name <i class="bi bi-asterisk"></i></label>
                        <br>
                        <input type="text" placeholder="Adinizi daxil edin">
                        <br><br>
                        <label for="">Phone Number <i class="bi bi-asterisk"></i></label>
                        <br>
                        <input type="number" placeholder="Telefon nomrenizi daxil edin">
                        <br><br>
                        <label for="">Message <i class="bi bi-asterisk"></i></label>
                        <br>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Mesajinizi daxil edin"></textarea>
                        <br><br>
                        <input type="checkbox">
                        <label for="checkbox">Sign me up to get special discounts and new product info.</label>
                        <br><br>
                        <p>
                            We <b>will not share</b> your email address or other information with any third parties.
                            Read our <a href="">Privacy Statement</a>
                        </p>
                        <br>
                        <input type="submit">
                    </form>
                </div>
                <div class="con-address col-6">
                    <h5>Corporate Offices</h5>
                    <hr>
                    <p><b>Phone: </b>050 593 40 40</p>
                    <br>
                    <p>Please direct all your accounting related inquiries to the following address.</p>
                    <br>
                    <b>Headquarters address:</b>
                    <br>
                    <p>
                        7610 Doane Dr.
                        Manassas, VA 20109
                    </p>
                    <br>
                    <h5>Showroom: Karl Marks</h5>
                    <p><b>Phone: </b>050 593 40 40</p>
                    <br>
                    <p>Please direct all your accounting related inquiries to the following address.</p>
                    <br>
                    <b>Headquarters address:</b>
                    <br>
                    <p>
                        7610 Doane Dr.
                        Manassas, VA 20109
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>