@{
    Layout = null;
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link href="~/assets/images/logo/headlogo.png" rel="shortcut icon" type="image/x-icon">
    <title>AS Glass Azerbaijan</title>

}


<main id="checkout">
    <div class="container">

        <div class="column">
            <div class="checkout-head">
                <img src="~/assets/images/logo/asglasslogosu.png" />
                <ul>
                    <li class="active"><a href="">SHIPPING</a></li>
                    <li><a href="">PAYMENT</a></li>
                    <li><a href="">REVIEW</a></li>
                </ul>
            </div>
            <div class="checkout-body">
                <div class="checkout-left col-8">
                    <h4>BILLING & SHIPPING INFORMATION</h4>
                    <br>
                    <form action="">
                        <div class="row col-12">
                            <div class="form-item col-6">
                                <label for="email">Email</label>
                                <br>
                                <input type="email" placeholder="Enter email">
                            </div>
                            <div class="form-item col-6">
                                <label for="">Phone</label>
                                <br>
                                <input type="tel">
                            </div>
                        </div>
                        <div class="row col-12">
                            <label for=""><input type="checkbox" name="" id="">Receive updates, news & special offers via email and text message.</label>
                            <br><br>
                            <p>By checking this box, you agree to receive recurring automated promotional and personalized marketing text messages (e.g. cart reminders) from Dulles Glass & Mirror at the cell number used when signing up. Consent is not a condition of any purchase. Reply HELP for help and STOP to cancel. Msg frequency varies. Msg & data rates may apply. View <a href="">Terms & Privacy</a></p>
                        </div>
                        <div class="row col-12">
                            <div class="form-item col-6">
                                <label for="">First Name *</label>
                                <br>
                                <input type="text" placeholder="Enter First Name">
                            </div>
                            <div class="form-item col-6">
                                <label for="">Last Name *</label>
                                <br>
                                <input type="text" placeholder="Enter Last Name">
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="form-item col-6">
                                <label for="">Address *</label>
                                <br>
                                <input type="text" placeholder="Enter First Name">
                            </div>
                            <div class="form-item col-6">
                                <label for="">Line 2 *</label>
                                <br>
                                <input type="text" placeholder="Enter Last Name">
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="form-item col-6">
                                <label for="">City *</label>
                                <br>
                                <input type="text" placeholder="Enter First Name">
                            </div>
                            <div class="form-item col-6">
                                <label for="">State*</label>
                                <br>
                                <select name="" id="">
                                    <option value="">Baku</option>
                                    <option value="">Sumqayit</option>
                                    <option value="">Quba</option>
                                    <option value="">Gence</option>
                                </select>
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="form-item col-6">
                                <label for="">ZIP *</label>
                                <br>
                                <input type="text" placeholder="Enter First Name">
                            </div>
                            <div class="form-item col-6">
                                <label for="">Company Name </label>
                                <br>
                                <input type="text" placeholder="Enter Company Name">
                            </div>
                        </div>
                        <input type="submit" value="Continue to Payment">
                    </form>
                </div>
                <div class="checkout-right col-3">
                    <h4>CART TOTALS</h4>
                    <br>
                    <div class="checkout-right-body">
                        <ul>
                            <li>Merchandise <span>$485</span></li>
                            <li>Shopping & Handling <span>FREE</span></li>
                            <li><b>TOTAL</b><b class="pr-right">$485</b></li>
                            <br>
                            <li><a href="">Continue to Payment</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <p>© 2021 Dulles Glass and Mirror. All rights reserved.</p>
        </div>
    </div>
</main>