

<main id="service">
    <div id="cancelover">
        <div class="cancel-overlay">
            <div class="cancel-overlay-head">
                <a href="" class="">CUSTOMER CARE</a>
            </div>
            <div class="cancel-overlay-body">
                <div class="container">
                    <h3>CUSTOMER SERVICE</h3>
                    <ul>
                        <li><a asp-action="index" asp-controller="contact">Contact Us</a></li>
                        <li><a asp-action="index" asp-controller="service">FAQs</a></li>
                    </ul>
                    <br>
                    <h3>SHIPPING&RETURNS</h3>
                    <ul>
                        <li><a href="">Shipping & Handling</a></li>
                        <li><a asp-action="returnpolicy" asp-controller="service">Return Policy</a></li>
                    </ul>
                    <br>
                    <h3>YOUR ORDER</h3>
                    <ul>
                        <li><a asp-action="orderstatus" asp-controller="service">Order Status</a></li>
                        <li><a asp-action="ordercancel" asp-controller="service">Order Cancellation</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section id="srv-menu">
        <div class="container">
            <div class="row">
                <div class="sr-left col-3">
                    <h3>CUSTOMER SERVICE</h3>
                    <ul>
                        <li><a asp-action="index" asp-controller="contact">Contact Us</a></li>
                        <li><a asp-action="index" asp-controller="service">FAQs</a></li>
                    </ul>
                    <br>
                    <h3>SHIPPING&RETURNS</h3>
                    <ul>
                        <li><a asp-action="returnpolicy" asp-controller="service">Return Policy</a></li>
                    </ul>
                    <br>
                    <h3>YOUR ORDER</h3>
                    <ul>
                        <li><a asp-action="orderstatus" asp-controller="service">Order Status</a></li>
                        <li><a asp-action="ordercancel" asp-controller="service">Order Cancellation</a></li>
                        <li><a href="">Warranty</a></li>
                    </ul>
                </div>
                <div class="srv-right col-9">
                    <h2>Customer Service</h2>
                    <br>
                    <ul>
                        <li> <a href="">Where is my order?</a></li>
                        <li> <a href="">How do I use my promo code?</a></li>
                        <li><a href="">What if my promo code is not working?</a></li>
                        <li><a href="">What is your Return Policy?</a></li>
                        <li><a href="">Can I ship my order internationally?</a></li>
                        <li><a href="">What is your cutting tolerance?</a></li>
                        <li> <a href="">What are your quality standards?</a></li>
                    </ul>
                    <br>
                    <h4>Where is my order?</h4>
                    <br>
                    <p>The easiest way to check the status of your order is to go to the <a href="">Order Status</a> page. You will be asked to enter your order number there. You can also call our customer service number at (866) 452-7707.</p>
                    <br>
                    <h4>How do I use my promo code?</h4>
                    <br>
                    <p>Enter your code at checkout exactly as it appears in the email, printed offer or webpage. Click "Apply" and your discount will be detailed in the payment summary. Only one promotional discount code allowed per order. You can find additional Terms & Conditions detailed on the original offer..</p>
                    <br>
                    <h4>What if my promo code is not working?</h4>
                    <br>
                    <p>If you tried your promo code and it is not showing a discount, please email us at <a href="">info@dullesglassandmirror.com</a> or call us at (866) 452-7707.</p>
                    <br>
                    <h4>What is your Return Policy?</h4>
                    <br>
                    <p>We are 100% committed to ensuring that you are pleased with your order. Please review our <a href="">Return Policy</a> here.</p>
                    <br>
                    <h4>Can I ship my order internationally?</h4>
                    <br>
                    <p>At this time, Dulles Glass & Mirror is only able to ship to the contiguous United States (excluding Alaska and Hawaii). We do not ship internationally.</p>
                    <br>
                    <h4>What is your cutting tolerance?</h4>
                    <br>
                    <p>The industry-wide accepted tolerance and our cutting tolerance is +/- 1/8".</p>
                    <br>
                    <h4>What are your quality standards?</h4>
                    <br>
                    <p>All glass contains various types of flaws or blemishes, which may be visible to the naked eye. This is unavoidable - even the finest raw materials contain minor flaws. The federal government mandates that no defects should be visible in the glass when it is viewed horizontally or vertically from 11 feet away under normal lighting. All of our glass meets these standards.</p>
                </div>
            </div>
        </div>
    </section>
</main>
