

<main id="orderstatus">
    <div id="cancelover">
        <div class="cancel-overlay">
            <div class="cancel-overlay-head">
                <a href="" class="">CUSTOMER CARE</a>
            </div>
            <div class="cancel-overlay-body">
                <div class="container">
                    <h3>CUSTOMER SERVICE</h3>
                    <ul>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">FAQs</a></li>
                    </ul>
                    <br>
                    <h3>SHIPPING&RETURNS</h3>
                    <ul>
                        <li><a href="">Shipping & Handling</a></li>
                        <li><a href="">Return Policy</a></li>
                    </ul>
                    <br>
                    <h3>YOUR ORDER</h3>
                    <ul>
                        <li><a href="">Order Status</a></li>
                        <li><a href="">Order Cancellation</a></li>
                        <li><a href="">Warranty</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section id="statusinput">
        <div class="container">
            <div class="row">
                <div class="order-status-left col-3">
                    <h3>CUSTOMER SERVICE</h3>
                    <ul>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">FAQs</a></li>
                    </ul>
                    <br>
                    <h3>SHIPPING&RETURNS</h3>
                    <ul>
                        <li><a href="">Shipping & Handling</a></li>
                        <li><a href="">Return Policy</a></li>
                    </ul>
                    <br>
                    <h3>YOUR ORDER</h3>
                    <ul>
                        <li><a href="">Order Status</a></li>
                        <li><a href="">Order Cancellation</a></li>
                        <li><a href="">Warranty</a></li>
                    </ul>
                </div>
                <div class="order-status-right col-8">
                    <h2>
                        Order Status
                    </h2>
                    <br>
                    <p>If you placed your order on dullesglassandmirror.com, you can check order status by entering your order number in the fields below.</p>
                    <br>
                    <form action="">
                        <label for="">Order Number:</label>
                        <br>
                        <input type="text" placeholder="Enter your order status number">
                        <br><br>
                        <input type="submit">
                    </form>
                    <br>
                    <p>Order and Shipping Questions</p>
                    <br>
                    <b>When will I get my order?</b>
                    <br>
                    <p>Custom products can take between 5 to 7 business days to be fabricated and will ship after that. In-stock items are normally shipped within 1-2 business days.</p>
                    <br>
                    <b>What do I do if my package did not arrive on time?</b>
                    <br>
                    <p>If your package does not arrive in the specified shipping time that you asked for, please contact FedEx directly by calling 1 (800) 463-3339 and then contact our office to notify us of the problem</p>
                    <br>
                    <b>Can I change or cancel my order?</b>
                    <br>
                    <p>Due to the custom nature of our business and to ensure that orders are shipped on time, once your order is submitted and approved we begin working on it immediately. For this reason, most orders cannot be cancelled once submitted. If any changes are necessary, please contact our office immediately at 1-866-GLASS-07 (1-866-452-7707). In most cases, changes cannot be made once an order has been submitted but we will do our best to accommodate your needs.</p>
                    <br>
                    <p>For more information on our shipping and order policies, please see our <a href="">customer service page.</a></p>
                </div>
            </div>
        </div>
    </section>
</main>
