@section Overlay{
    <script src="~/assets/js/overlay.js"></script>

}

<main id="cancellation">
    <div id="cancelover">
        <div class="cancel-overlay">
            <div class="cancel-overlay-head">
                <a href="" class="">CUSTOMER CARE</a>
            </div>
            <div class="cancel-overlay-body">
                <div class="container">
                    <h3>MÜŞTƏRİ SERVİSİ</h3>
                    <ul>
                        <li><a asp-action="index" asp-controller="contact">Əlaqə saxlıyın</a></li>
                        <li><a asp-action="index" asp-controller="service">Tez-tez verilən suallar</a></li>
                    </ul>
                    <br>
                    <h3>ALIŞ-VERİŞ VƏ GERİ QAYTARMA</h3>
                    <ul>
                        <li><a asp-action="returnpolicy" asp-controller="service">Qaytarma Siyasəti</a></li>
                    </ul>
                    <br>
                    <h3>SİZİN SİFARİŞİNİZ</h3>
                    <ul>
                        <li><a asp-action="orderstatus" asp-controller="service">Sifarişin Statusu</a></li>
                        <li><a asp-action="ordercancel" asp-controller="service">Sifarişi Rədd Etmək</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section id="order-cancel">

        <div class="container">
            <div class="row">
                <div class="cancel-left col-3">
                    <h3>MÜŞTƏRİ SERVİSİ</h3>
                    <ul>
                        <li><a asp-action="index" asp-controller="contact">Əlaqə saxlıyın</a></li>
                        <li><a asp-action="index" asp-controller="service">Tez-tez verilən suallar</a></li>
                    </ul>
                    <br>
                    <h3>ALIŞ-VERİŞ VƏ GERİ QAYTARMA</h3>
                    <ul>
                        <li><a asp-action="returnpolicy" asp-controller="service">Qaytarma Siyasəti</a></li>
                    </ul>
                    <br>
                    <h3>SİZİN SİFARİŞİNİZ</h3>
                    <ul>
                        <li><a asp-action="orderstatus" asp-controller="service">Sifarişin Statusu</a></li>
                        <li><a asp-action="ordercancel" asp-controller="service">Sifarişi Rədd Etmək</a></li>
                    </ul>
                </div>
                <div class="cancel-right col-8">
                    <h2>Sifarişin ləğvi</h2>
                    <br><br>
                        <p>
                            Biznesimizin xüsusi xarakterinə görə və sifarişlərin vaxtında göndərilməsini təmin etmək üçün, sifarişiniz təqdim edildikdən və təsdiq edildikdən sonra dərhal onun üzərində işləməyə başlayırıq. Bu səbəbdən, əksər sifarişlər təqdim edildikdən sonra ləğv edilə bilməz.
                        </p>
                    <br>
                    <p>
                        Hər hansı bir dəyişiklik lazımdırsa, lütfən, 1-866-GLASS-07 (1-866-452-7707) nömrəsi ilə dərhal ofisimizlə əlaqə saxlayın. Əksər hallarda, sifariş təqdim edildikdən sonra dəyişikliklər edilə bilməz, lakin biz sizin ehtiyaclarınızı ödəmək üçün əlimizdən gələni edəcəyik.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
