<main id="cancellation">
    <section id="order-cancel">
        <div class="container">
            <div class="row">
                <div class="cancel-left col-3">
                    <h3>CUSTOMER SERVICE</h3>
                    <ul>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">FAQs</a></li>
                    </ul>
                    <br>
                    <h3>SHIPPING&RETURNS</h3>
                    <ul>
                        <li><a href="">Shipping & Handling</a></li>
                        <li><a href="">Return Policy</a></li>
                    </ul>
                    <br>
                    <h3>YOUR ORDER</h3>
                    <ul>
                        <li><a href="">Order Status</a></li>
                        <li><a href="">Order Cancellation</a></li>
                        <li><a href="">Warranty</a></li>
                    </ul>
                </div>
                <div class="cancel-right col-8">
                    <h2>Order Cancellation</h2>
                    <br><br>
                    <p>Due to the custom nature of our business and to ensure that orders are shipped on time, once your order is submitted and approved we begin working on it immediately. For this reason, most orders cannot be cancelled once submitted.</p>
                    <br>
                    <p>If any changes are necessary, please contact our office immediately at 1-866-GLASS-07 (1-866-452-7707). In most cases, changes cannot be made once an order has been submitted but we will do our best to accommodate your needs.</p>
                </div>
            </div>
        </div>
    </section>
</main>
