@section Overlay{
    <script src="~/assets/js/overlay.js"></script>

}

<main id="rnpolicy">
    <section id="policyimg">
        <div class="container">
            <img src="~/assets/images/bg-images/exchange-form.webp" alt="">
        </div>
    </section>
    <div id="cancelover">
        <div class="cancel-overlay">
            <div class="cancel-overlay-head">
                <a href="" class="">CUSTOMER CARE</a>
            </div>
            <div class="cancel-overlay-body">
                <div class="container">
                    <h3>MÜŞTƏRİ SERVİSİ</h3>
                    <ul>
                        <li><a asp-action="index" asp-controller="contact">Əlaqə saxlıyın</a></li>
                        <li><a asp-action="index" asp-controller="service">Tez-tez verilən suallar</a></li>
                    </ul>
                    <br>
                    <h3>ALIŞ-VERİŞ VƏ GERİ QAYTARMA</h3>
                    <ul>
                        <li><a asp-action="returnpolicy" asp-controller="service">Qaytarma Siyasəti</a></li>
                    </ul>
                    <br>
                    <h3>SİZİN SİFARİŞİNİZ</h3>
                    <ul>
                        <li><a asp-action="orderstatus" asp-controller="service">Sifarişin Statusu</a></li>
                        <li><a asp-action="ordercancel" asp-controller="service">Sifarişi Rədd Etmək</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section id="policybody">
        <div class="container">
            <div class="row">
                <div class="policy-left col-3">
                    <h3>MÜŞTƏRİ SERVİSİ</h3>
                    <ul>
                        <li><a asp-action="index" asp-controller="contact">Əlaqə saxlıyın</a></li>
                        <li><a asp-action="index" asp-controller="service">Tez-tez verilən suallar</a></li>
                    </ul>
                    <br>
                    <h3>ALIŞ-VERİŞ VƏ GERİ QAYTARMA</h3>
                    <ul>
                        <li><a asp-action="returnpolicy" asp-controller="service">Qaytarma Siyasəti</a></li>
                    </ul>
                    <br>
                    <h3>SİZİN SİFARİŞİNİZ</h3>
                    <ul>
                        <li><a asp-action="orderstatus" asp-controller="service">Sifarişin Statusu</a></li>
                        <li><a asp-action="ordercancel" asp-controller="service">Sifarişi Rədd Etmək</a></li>
                    </ul>
                </div>
                <div class="policy-right col-9">
                    <h2>Qaytarma Siyasəti</h2>
                    <br>
                    <h5>Custom-Made Products</h5>
                    <br>
                    <p>Bütün sifarişli məhsullar son satışdır və geri qaytarıla bilməz. Bu, şüşə və güzgü məhsullarının fərdi xüsusiyyətləri ilə bağlıdır. Bununla belə, sifarişli məhsul zədələnmiş halda gələrsə, yenə də geri qaytarma iddiası verə bilərsiniz. Qaytarma iddianız üçün aşağıdakı şərtləri diqqətlə oxuyun.</p>
                    <br>
                    <ul>
                        <li>
                            <p>Zədələnmiş sifarişlər sənədləşdirilməli və çatdırılma tarixindən bir (1) iş günü ərzində bildirilməlidir. Çatdırılma tarixindən bir (1) iş günündən sonra bildirilən hər hansı zədələnmiş sifarişlər geri qaytarıla bilməz.</p>
                        </li>
                        <li>
                            <p>Zədələnmiş xüsusi əşyalar orijinal qablaşdırmada olmalıdır.</p>
                        </li>
                        <li>
                            <p>Yenidən ehtiyat ödənişləri tətbiq edilməyəcək.</p>
                        </li>
                        <li>
                            <p>Yerli müştərilər zədələnmiş sifarişli məhsulları birbaşa Virciniya ofislərimizə pulsuz qaytara bilərlər.</p>
                        </li>
                        <li>
                            <p>Fərdi sifarişiniz təqdim edildikdən sonra ləğv edilə bilməz.</p>
                        </li>
                        <li>
                            <p>Sifarişiniz yaxşı vəziyyətdə gəlibsə, məhsulunuz geri qaytarıla bilməz.</p>
                        </li>
                        <li>
                            <p>Biz geri qaytarılmadan və ya dəyişdirmədən əvvəl zədələnmiş xüsusi məhsulun fotoşəkilinin bizə göndərilməsini tələb edə bilərik.</p>
                        </li>
                    </ul>
                    <br>
                </div>
            </div>
        </div>
    </section>
</main>