.parametrs .feature {
    border: 1px solid rgb(215, 215, 215);
    margin-bottom: 34px;
}
.feature .feature-heading {
    font-size: 14px;
    text-align: center;
    padding: 5px;
    background-color: rgba(211, 211, 211, 0.12);
}
.feature p {
    margin-bottom: 0;
}
.feature .feature-item {
    text-align: left;
    border-top: 1px solid rgb(215, 215, 215);
}
.flexbox {
    display: flex;
}
.flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.feature .feature-item .item-title {
    background-color: rgba(211, 211, 211, 0.12);
}
.feature .feature-item .item-title, .feature .feature-item .item-content {
    padding: 8px 25px;
    width:75%;
}
.feature .feature-item .item-title {
    width: 25%;
}

.AjaxUpload #Upload {
    display: none;
}
.AjaxUpload label {
    width: 40px;
    height: 40px;
    background: #2ca8ff;
    color: white;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
    cursor:pointer;
}
.photos {
    list-style-type: none;
    padding: 0;
}
    .photos li {
        display: inline-block;
        position: relative;
        width:18%;
    }

        .photos li img {
            width: 100%;
        }
        .photos li a {
            position: absolute;
            top: 0;
            right: 0;
        }

.StatusToggle{
    cursor:pointer;
}