



<main id="shop">
    <div class="container">
        <div class="row">
            <div class="shop-left col-3">
                <div class="inner-page-sidebar">
                    <!-- Accordion -->
                    <div class="single-block">
                        <h3 class="sidebar-title">Categories</h3>
                        <ul class="sidebar-menu--shop">
                            <li><a href="#">Accessories (5)</a></li>
                            <li><a href="#">Arts &amp; Photography (10)</a></li>
                            <li><a href="#">Biographies (16)</a></li>
                            <li><a href="#">Business &amp; Money (0)</a></li>
                            <li><a href="#">Calendars (6)</a></li>
                            <li><a href="#">Children's Books (9)</a></li>
                            <li><a href="#">Comics (16)</a></li>
                            <li><a href="#">Cookbooks (7)</a></li>
                            <li><a href="#">Education (3)</a></li>
                            <li><a href="#">House Plants (6)</a></li>
                            <li><a href="#">Indoor Living (9)</a></li>
                            <li><a href="#">Perfomance Filters (5)</a></li>
                            <li>
                                <a href="#">Shop (16)</a>
                                <ul class="inner-cat-items">
                                    <li><a href="#">Saws (0)</a></li>
                                    <li><a href="#">Concrete Tools (7)</a></li>
                                    <li><a href="#">Drills (2)</a></li>
                                    <li><a href="#">Sanders (1)</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Price -->
                    <div class="single-block">
                        <h3 class="sidebar-title">Fillter By Price</h3>
                        <input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
                    </div>
                    <!-- Size -->
                    <div class="single-block">
                        <h3 class="sidebar-title">Manufacturer</h3>
                        <ul class="sidebar-menu--shop menu-type-2">
                            <li><a href="#">Christian Dior <span>(5)</span></a></li>
                            <li><a href="#">Diesel <span>(8)</span></a></li>
                            <li><a href="#">Ferragamo <span>(11)</span></a></li>
                            <li><a href="#">Hermes <span>(14)</span></a></li>
                            <li><a href="#">Louis Vuitton <span>(12)</span></a></li>
                            <li><a href="#">Tommy Hilfiger <span>(0)</span></a></li>
                            <li><a href="#">Versace <span>(0)</span></a></li>
                        </ul>
                    </div>
                    <!-- Color -->
                    <div class="single-block">
                        <h3 class="sidebar-title">Select By Color</h3>
                        <ul class="sidebar-menu--shop menu-type-2">
                            <li><a href="#">Black <span>(5)</span></a></li>
                            <li><a href="#">Blue <span>(6)</span></a></li>
                            <li><a href="#">Brown <span>(4)</span></a></li>
                            <li><a href="#">Green <span>(7)</span></a></li>
                            <li><a href="#">Pink <span>(6)</span></a></li>
                            <li><a href="#">Red <span>(5)</span></a></li>
                            <li><a href="#">White <span>(8)</span></a></li>
                            <li><a href="#">Yellow <span>(11)</span> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="shop-right col-9">
                <div class="shop-toolbar">
                    <div class="row">
                        <div class="toolbar-item col-3">
                            <span>Show:  </span>
                            <select class="form-control nice-select sort-select">
                                <option value="" selected="selected">3</option>
                                <option value="">9</option>
                                <option value="">5</option>
                                <option value="">10</option>
                                <option value="">12</option>
                            </select>
                        </div>
                        <div class="toolbar-item col-3">
                            <span class="toolbar-status">
                                Showing 1 to 9 of 14 (2 Pages)
                            </span>
                        </div>
                        <div class="toolbar-item col-5">
                            <span>Sort By: </span>
                            <select class="form-control nice-select sort-select ">
                                <option value="" selected="selected">Default Sorting</option>
                                <option value="">
                                    Sort
                                    By:Name (A - Z)
                                </option>
                                <option value="">
                                    Sort
                                    By:Name (Z - A)
                                </option>
                                <option value="">
                                    Sort
                                    By:Price (Low &gt; High)
                                </option>
                                <option value="">
                                    Sort
                                    By:Price (High &gt; Low)
                                </option>
                                <option value="">
                                    Sort
                                    By:Rating (Highest)
                                </option>
                                <option value="">
                                    Sort
                                    By:Rating (Lowest)
                                </option>
                                <option value="">
                                    Sort
                                    By:Model (A - Z)
                                </option>
                                <option value="">
                                    Sort
                                    By:Model (Z - A)
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="shop-items">
                    <div class="row">
                        <div class="shop-item">
                            <img src="~/assets/images/accessories/20gconst.png" alt="">
                            <br>
                            <p><a href="">Nano470 Construction Glass Glue (20 G)</a></p>
                            <small>Ships in 1-3 business days.</small>
                            <br><br>
                            <div class="acc-item-price">
                                <p>Price: 120$</p>
                                <p>Discount Price:</p>
                            </div>
                            <br>
                            <a href="" class="shop-btn">ADD TO CARD</a>
                        </div>
                        <div class="shop-item">
                            <img src="~/assets/images/accessories/20gconst.png" alt="">
                            <br>
                            <p><a href="">Nano470 Construction Glass Glue (20 G)</a></p>
                            <small>Ships in 1-3 business days.</small>
                            <br><br>
                            <div class="acc-item-price">
                                <p>Price: 120$</p>
                                <p>Discount Price:</p>
                            </div>
                            <br>
                            <a href="" class="shop-btn">ADD TO CARD</a>
                        </div>
                        <div class="shop-item">
                            <img src="~/assets/images/accessories/20gconst.png" alt="">
                            <br>
                            <p><a href="">Nano470 Construction Glass Glue (20 G)</a></p>
                            <small>Ships in 1-3 business days.</small>
                            <br><br>
                            <div class="acc-item-price">
                                <p>Price: 120$</p>
                                <p>Discount Price:</p>
                            </div>
                            <br>
                            <a href="" class="shop-btn">ADD TO CARD</a>
                        </div>
                        <div class="shop-item">
                            <img src="~/assets/images/accessories/20gconst.png" alt="">
                            <br>
                            <p><a href="">Nano470 Construction Glass Glue (20 G)</a></p>
                            <small>Ships in 1-3 business days.</small>
                            <br><br>
                            <div class="acc-item-price">
                                <p>Price: 120$</p>
                                <p>Discount Price:</p>
                            </div>
                            <br>
                            <a href="" class="shop-btn">ADD TO CARD</a>
                        </div>
                        <div class="shop-item">
                            <img src="~/assets/images/accessories/20gconst.png" alt="">
                            <br>
                            <p><a href="">Nano470 Construction Glass Glue (20 G)</a></p>
                            <small>Ships in 1-3 business days.</small>
                            <br><br>
                            <div class="acc-item-price">
                                <p>Price: 120$</p>
                                <p>Discount Price:</p>
                            </div>
                            <br>
                            <a href="" class="shop-btn">ADD TO CARD</a>
                        </div>
                        <div class="shop-item">
                            <img src="~/assets/images/accessories/20gconst.png" alt="">
                            <br>
                            <p><a href="">Nano470 Construction Glass Glue (20 G)</a></p>
                            <small>Ships in 1-3 business days.</small>
                            <br><br>
                            <div class="acc-item-price">
                                <p>Price: 120$</p>
                                <p>Discount Price:</p>
                            </div>
                            <br>
                            <a href="" class="shop-btn">ADD TO CARD</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>