@model MemberLoginViewModel
@{
    ViewData["Title"] = "Register";
}

<main id="userform">
    <section id="user-login">
        <div class="container">
            <div class="column">
                <div class="login-head">
                    <h2>Daxil olun</h2>
                </div>
                <hr>
                <div class="login-body">
                    <form method="post" id="form">
                        <label asp-for="UserName">Adinizi ve ya Username daxil edin</label>
                        <br>
                        <input type="text" id="email" placeholder="Adinizi daxil edin" asp-for="UserName" type="text" id="UserName">
                        <span class="text-danger" asp-validation-for="UserName"></span>
                        <small class="log-in-email"></small>
                        <br>
                        <label asp-for="Password">Sifrenizi daxil edin</label>
                        <br>
                        <input asp-for="Password" type="password" id="password" placeholder="Sifrenizi daxil edin">
                        <small class="log-in-password"></small>
                        <br><br>
                        <input type="submit" >
                        <br><br>
                        <a asp-action="forgotpassword" asp-controller="account">Sifrenizi unutmusunuz?</a>
                        <br>
                        <a asp-action="register" asp-controller="account">Qeydiyyatdan kec</a>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
