<main id="userform">
    <section id="user-login">
        <div class="container">
            <div class="column">
                <div class="login-head">
                    <h2>Daxil olun</h2>
                </div>
                <hr>
                <div class="login-body">
                    <form action="" id="form">
                        <label for="">Adinizi ve ya Username daxil edin</label>
                        <br>
                        <input type="text" id="email" placeholder="Adinizi daxil edin">
                        <small class="log-in-email"></small>
                        <br>
                        <label for="">Sifrenizi daxil edin</label>
                        <br>
                        <input type="password" id="password" placeholder="Sifrenizi daxil edin">
                        <small class="log-in-password"></small>
                        <br><br>
                        <input type="submit">
                        <br><br>
                        <a href="">Sifrenizi unutmusunuz?</a>
                        <br>
                        <a href="">Qeydiyyatdan kec</a>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
