<main id="registration">
    <section id="register">
        <div class="container">
            <div class="column">
                <div class="register-head">
                    <h2>Qeydiyyatdan kecin</h2>
                </div>
                <hr>
                <div class="register-body col-12">
                    <form action="">
                        <div class="register-left col-5">
                            <label for="ad">Ad:</label>
                            <input type="text" name="ad" placeholder="Adinizi daxil edin" required>
                            <br>
                            <label for="soyad">Soyad:</label>
                            <input type="text" name="soyad" placeholder="Soyadinizi daxil edin" required>
                            <br>
                            <label for="tel">Nomrenizi daxil edin:</label>
                            <input type="tel" name="tel" placeholder="(+994)**-***-**-**" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required>
                            <br>
                            <label for="sifre">Sifrenizi daxil</label>
                            <input type="password" name="sifre" id="">
                        </div>
                        <div class="register-right col-5">
                            <label for="email">Emailinizi daxil edin:</label>
                            <input type="email" name="email" placeholder="Emaili daxil edin">
                            <br>
                            <label for="wirket">Wirket adini daxil edin</label>
                            <input type="text" name="wirket" placeholder="Wirket adini daxil edin">
                            <br>
                            <label for="unvan">Unvan daxil edin</label>
                            <input type="text" name="unvan" placeholder="Unvan daxil edin">
                            <br>
                            <label for="sifre">Sifrenizi tekrarliyin</label>
                            <input type="password" name="sifre" id="">
                            <br>
                            <br>
                            <input type="submit" placeholder="Qeydiyyat" value="Qeydiyyat">

                        </div>
                        <br>

                    </form>


                </div>
            </div>
        </div>
    </section>
</main>