@model MemberRegisterViewModel
@{
    ViewData["Title"] = "Register";
}


<main id="registration">
    <section id="register">
        <div class="container">
            <div class="column">
                <div class="register-head">
                    <h2>Qeydiyyatdan kecin</h2>
                </div>
                <hr>
                <div class="register-body col-12">
                    <form method="post">
                        <div class="register-left col-5">
                            <label asp-for="FullName">Ad və Soyad*:</label>
                            <input asp-for="FullName" type="text"  placeholder="Adinizi daxil edin" id="FullName">
                            <span class="text-danger" asp-validation-for="FullName"></span>

                            <br>
                            <label asp-for="UserName">Istifadeci Adi*:</label>
                            <input asp-for="UserName" type="text"  placeholder="İstifadəçi adını daxil edin" id="UserName">
                            <span class="text-danger" asp-validation-for="UserName"></span>

                            <br>
                            <label asp-for="Phone">Nömrənizi daxil edin*:</label>
                            <input asp-for="Phone" type="tel"  placeholder="(+994)**-***-**-**">

                        </div>
                        <div class="register-right col-5">
                            <label asp-for="Email">Email ünvanınızı daxil edin*:</label>
                            <input asp-for="Email" type="email" id="Email" placeholder="Emaili daxil edin">
                            <span class="text-danger" asp-validation-for="Email"></span>

                            <br>
                            <label asp-for="Password">Şifrənizi daxil edin*:</label>
                            <input asp-for="Password" type="password" id="password">
                            <span class="text-danger" asp-validation-for="Password"></span>

                            <br>
                            <label asp-for="ConfirmPassword">Şifrənizi təkrarlayın*:</label>
                            <input asp-for="ConfirmPassword" type="password"  id="ConfirmPassword">
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

                            <br>
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <br>
                            <input type="submit"  value="Qeydiyyatdan keç" class="text-white">

                        </div>
                        <br>

                    </form>


                </div>
            </div>
        </div>
    </section>
</main>