<main id="cart">
    <section id="cart-body">

        <div class="container">
            <a href="" class="shop-cont"><i class="bi bi-cart4"></i>Continue Shopping</a>
            <br><br>
            <div class="row">
                <div class="cart-left col-8">
                    <h4>CART ITEMS</h4>
                    <div class="cart-left-body">
                        <div class="cart-item">
                            <div class="cart-item-img col-3">
                                <img src="assets/images/technica/cns2.jpg" alt="">
                            </div>
                            <div class="cart-item-txt col-3">
                                <p>24" x 36" Custom Replacement Glass</p>
                                <br>
                                <b>Specifications</b>
                                <p><b>Shape:</b> Rectangle</p>
                                <p><b>Size: </b> 24" x 36" </p>
                                <p><b>Edge:</b>Seamed</p>
                                <p>Beveled </p>
                                <p><b>Center Hole: </b></p>
                            </div>
                            <div class="cart-item-count col-2">
                                <small>$134/each</small>
                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                    <option value="">11</option>
                                    <option value="">12</option>
                                    <option value="">13</option>
                                </select>
                                <br><br>
                                <a href="">Remove Item</a>
                            </div>
                            <div class="cart-item-price col-1">
                                <b>134.64$</b>
                            </div>
                        </div>
                        <div class="cart-item">
                            <div class="cart-item-img col-3">
                                <img src="assets/images/technica/cns2.jpg" alt="">
                            </div>
                            <div class="cart-item-txt col-3">
                                <p>24" x 36" Custom Replacement Glass</p>
                                <br>
                                <b>Specifications</b>
                                <p><b>Shape:</b> Rectangle</p>
                                <p><b>Size: </b> 24" x 36" </p>
                                <p><b>Edge:</b>Seamed</p>
                                <p>Beveled </p>
                                <p><b>Center Hole: </b></p>
                            </div>
                            <div class="cart-item-count col-2">
                                <small>$134/each</small>
                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                    <option value="">11</option>
                                    <option value="">12</option>
                                    <option value="">13</option>
                                </select>
                                <br><br>
                                <a href="">Remove Item</a>
                            </div>
                            <div class="cart-item-price col-1">
                                <b>134.64$</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-right col-4">
                    <h4>CART TOTALS</h4>
                    <br>
                    <div class="cart-right-body">
                        <ul>
                            <li>Merchandise <span>$485</span></li>
                            <li>Shopping & Handling <span>FREE</span></li>
                            <li><b>TOTAL</b><b class="pr-right">$485</b></li>
                            <br>
                            <li><a href="">Proceed to Checkout</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </section>
</main>